*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #ffffff;
    min-width: 970px;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 5px;
}

p {
    margin-top: 0;
    margin-bottom: 5px;
}

button {
    border-radius: 0;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

ol,
ul,
dl {
    padding: 0;
    margin-top: 0;
    margin-bottom: 1rem;
    list-style-type: none;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

a {
    color: #ff6508;
    text-decoration: none;
    background-color: transparent;
}