
.d-none {
    display: none !important;
}
.basket-main {
    width: 25%;
}
.menu-main {
    width: 75%;
    margin-top: 73px;
}
.basket-main-fix {
    position: fixed;
    top: 73px;
    width: 240px;
    z-index: 1;
}
.products-list {
    display: flex;
    align-items: flex-start;
    z-index: 1000;
    .unavailable-info {
        display: none;
    }
    &.unavailable {
        .product-actions {
            visibility: hidden;
        }
        .product-info {
            display: flex;
            align-items: center;
        }
        .unavailable-info {
            margin-left: 5px;
            display: block;
            color: $red;
            font-size: 13px;
        }
    }
}
.product-actions {
    margin-right: 15px;
    width: 65px;
    input {
        width: 26px;
        height: 17px;
        text-align: center;
        margin-top: 2px;
        border: 1px solid $mercury;
        border-radius: 2px;
        background-clip: padding-box;
        background-color: $white;
        box-shadow: 0 -1px 0 $shadow-color;
    }
}
.product {
    display: flex;
    flex-direction: column;
    flex: 1;
    .product-info a {
        font-weight: 700;
        color: $ys-orange;
    }
}
.add-product {
    padding: 2px 11px;
    line-height: 16px;
    border-radius: 3px;
    background-color: $green;
    color: $white;
}
.ys-basket {
    .basket-head {
        display: flex;
        padding: 10px 11px;
        background-color: $red;
        color: $white;
        font-size: 12px;
        align-items: center;
        border-left: 1px solid $mercury;
        border-right: 1px solid $mercury;
        p {
            font-weight: 700;
            margin: 0;
            flex: 1;
        }
    }
    .basket-store-info {
        background-color: $yellow;
        padding: 7px 11px;
        display: flex;
        flex-direction: column;
        a {
            color: $ys-orange;
            font-weight: 700;
            text-decoration: underline;
        }
    }
    .basket-list {
        ul {
            padding: 0;
            margin: 0;
        }
        li {
            max-height: 350px;
            overflow-y: auto;
            border-left: 1px solid $mercury;
            border-right: 1px solid $mercury;
            border-bottom: 1px solid $mercury;
            font-size: 12px;
            display: flex;
            align-items: center;
            padding: 8px 6px;
            .basket-count {
                padding: 1px 2px;
                flex: 1 1 23%;
                input {
                    width: 35px;
                }
            }
            .title {
                color: $ys-orange;
                flex: 1 1 54%;
            }
            .price {
                flex: 1 1 8%;
            }
        }
    }
}
.destroy {
    margin-left: 10px;
    width: 7px;
    height: 7px;
    background: $url_0 no-repeat;
    background-position: -179px -385px;
    &:hover {
        cursor: pointer;
    }
}
.ys-remove-all-basket {
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    vertical-align: middle;
    position: relative;
    margin: 0;
    padding: 0;
    width: 9px;
    height: 11px;
    background: $url_0 no-repeat;
    background-position: -446px -416px;
    &:hover {
        cursor: pointer;
    }
}
.ys-basket-total-area {
    display: flex;
    padding: 10px 8px;
    border: 1px solid $mercury;
    align-items: center;
    font-weight: 700;
    p {
        flex: 1;
        margin: 0;
    }
}
.title-list {
    padding: 0;
    margin: 20px 0 0;
    .title-list-item {
        margin-bottom: 5px;
        a {
            font-weight: 700;
            color: $ys-orange;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    border-width: 0 0 1px;
    height: 55px;
    box-shadow: -2px -8px 1px 10px $gray;
    background: $red;
}
.ys-header-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
    height: 100%;
}
.logo {
    background: $url_1;
    height: 36px;
    left: 30px;
    width: 185px;
}
.inner {
    width: 50%;
}
.ys-basket-empty {
    background: $url_2 -514px -264px;
    width: 47px;
    height: 41px;
    margin-right: 10px;
}
.restaurant-detail {
    border: 1px solid $mercury;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-clip: padding-box;
    box-shadow: 1px 1px 0 $mercury;
    margin: 0 0 15px;
    height: 117px;
    .restaurant-detail-inner {
        height: 100%;
        display: flex;
        align-items: center;
        .points-area {
            height: 100%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-right: 1px solid $mercury;
            p {
                margin: 0 0 5px 5px;
                font-size: 13px;
                font-weight: 700;
                color: $gray;
            }
        }
        .points {
            display: flex;
            .point {
                width: 60px;
                border-radius: 3px;
                padding: 8px 10px;
                margin: 0 5px;
                background-color: $green;
                font-weight: 700;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: $white;
                .title {
                    font-size: 16px;
                    font-weight: 500;
                }
                .number {
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 32px;
                }
            }
        }
        .restaurant-img {
            padding: 0 10px;
        }
        .delivery-info {
            display: flex;
            height: 100%;
            padding: 15px 10px;
            border-right: 1px solid $mercury;
            .info {
                flex: 1 1 33%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 0 10px;
                .title {
                    color: $gray;
                    font-weight: 600;
                    margin: 5px 0;
                    height: 25px;
                    line-height: 14px;
                    font-size: 12px;
                }
                p {
                    margin: 0;
                    font-size: 13px;
                    font-weight: 700;
                }
                .money {
                    background: $url_2 -582px -295px;
                    width: 24px;
                    height: 19px;
                }
                .clock {
                    background: $url_2 -582px -268px;
                    width: 22px;
                    height: 22px;
                }
                .bike {
                    background: $url_2 -391px -422px;
                    width: 30px;
                    height: 18px;
                }
            }
        }
    }
}
.product-price {
    text-align: right;
    width: 65px;
    margin-bottom: 8px !important;
    margin-top: 2px !important;
    .price {
        color: $ys-orange;
        font-size: 13px;
        font-weight: 700;
    }
}
.sticky-top {
    position: sticky;
    top: 0;
}
.search-product {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    box-shadow: 0 -1px 0 $shadow-color;
}
.ys-list {
    display: flex;
    flex-direction: column;
    .restaurant-detail {
        background: $white;
        margin: 0 0 20px;
        border-radius: 3px;
        border: 1px solid $mercury;
        .restaurant-head {
            border: 1px solid $mercury;
            background-clip: padding-box;
            background-color: $white;
            box-shadow: 0 1px 0 $mercury;
            border-radius: 3px 3px 0 0;
            padding: 12px 0 12px 12px;
            margin: 0;
            h2 {
                font-size: 24px;
            }
        }
        .restaurant-body {
            margin: 0;
            padding: 0;
            border: 1px solid $mercury;
            .products-list {
                padding: 20px 10px;
                position: relative;
                border-bottom: 1px solid $mercury;
                display: flex;
                .product {
                    flex: 1;
                    margin-top: 2px;
                    .product-info {
                        font-weight: 700;
                        text-decoration: none;
                        color: $ys-orange;
                    }
                    .product-desc {
                        display: inline-block;
                        margin-top: 4px;
                    }
                }
            }
        }
    }
}