//colors
$red: #ac000b;
$white: #ffffff;
$mercury: #e5e5e5;
$shadow-color: rgba(51, 51, 51, 0.2);
$ys-orange: #ff6508;
$green: #48912a;
$black: rgba(0, 0, 0, 0.15);
$gray: #878585;
$yellow: #ffd55a;

//urls
$url_0: url(https://assets.yemeksepeti.com/assets/images/ys-icons.png?v=1545814990171);
$url_1: url(https://assets.yemeksepeti.com/assets/images/logo2.png?v=1545814990171);
$url_2: url(https://assets.yemeksepeti.com/assets/images/ys-icons-sprites-std.png?v=1545814990171);


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}